---
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../lib/formatDate";
import { Link } from "../lib/Link";
import { Paragraph } from "../lib/prose/Paragraph";
import type { PostFrontmatter } from "../types";

const projects = [{ title: "Dach", url: "https://dach.kukielka.xyz/" }];

let posts = await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx");

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.frontmatter.draft);
}

posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
---

<BaseLayout title="7sne" description="7sne personal page.">
  <div slot="header-content" class="flex items-center gap-x-2">
    <p class="text-lg">sane</p>
  </div>

  <main class="py-10">
    <section class="zaduma-prose pb-12">
      <Paragraph />
      <Paragraph class="mt-6">
        A frontend developer dedicated to crafting seamless and elegant user
        experiences.
      </Paragraph>
    </section>
  </main>

  <section>
    <Paragraph class="mb-1 text-gray-400 dark:text-gray-700">
      Projects
    </Paragraph>
    <ul class="flex w-full flex-col gap-y-4">
      {
        projects.map(({ title, url }) => {
          return (
            <li>
              <Link
                href={url}
                class="flex flex-row justify-between gap-2"
                noUnderline
              >
                <h2 class="font-sans text-gray-800 dark:text-gray-300">
                  {title}
                </h2>
              </Link>
            </li>
          );
        })
      }
    </ul>
  </section>

  <section>
    <Paragraph class="mb-1 pt-12 text-gray-400 dark:text-gray-700">
      Writing
    </Paragraph>
    <ul>
      {
        posts.map(({ frontmatter }) => {
          const date = new Date(frontmatter.date);

          return (
            <li>
              <Link
                href={frontmatter.path}
                class="flex flex-row justify-between gap-2"
                noUnderline
              >
                <h2 class="font-sans text-gray-800 dark:text-gray-300">
                  {frontmatter.title}
                </h2>
                <time
                  datetime={date.toISOString()}
                  class="shrink-0 tabular-nums tracking-tighter text-gray-600 dark:text-gray-400"
                >
                  {formatDate(date)}
                </time>
              </Link>
            </li>
          );
        })
      }
    </ul>
  </section>
  <section>
    <Paragraph class="mb-1 pt-12 text-gray-400 dark:text-gray-700">
      Socials
    </Paragraph>
    <ul id="socials" class="mt-3 flex w-full gap-x-4">
      <li>
        <Link
          href="https://twitter.com/KukielkaMaciej"
          class="cursor-pointer underline dark:underline-offset-4"
        >
          X
        </Link>
      </li>
      <li>
        <Link
          href="https://github.com/7sne"
          class="cursor-pointer underline dark:underline-offset-4"
        >
          Github
        </Link>
      </li>
      <li>
        <Link
          href="https://www.linkedin.com/in/maciej-kukielka/"
          class="cursor-pointer underline dark:underline-offset-4"
        >
          LinkedIn
        </Link>
      </li>
    </ul>
  </section>
</BaseLayout>

<style>
  ul:hover li:not(:hover) :where(h2, time) {
    @apply text-gray-600 transition-colors;

    :global(.dark) & {
      @apply text-gray-500;
    }
  }

  #socials > li:not(:last-child) {
    position: relative;

    &::after {
      position: absolute;
      right: -10px;
      content: "·";
    }
  }
</style>
